@use './../abstracts/breakpoints' as media;

.action-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.6rem;
  padding: 1rem;
  font-weight: 600;
  border: 0;
  outline: 0;
  background-color: #101010;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

  &:hover {
    color: #101010;
    background-color: transparent;
    border: 1px solid #101010;
  }

  @include media.query('>=sm') {
    font-size: 0.7rem;
  }

  @include media.query('>=lg') {
    font-size: 0.9rem;
  }
}
