@use './../abstracts/breakpoints' as media;

.cart-body {
  padding: 1rem;

  @include media.query('>=lg') {
    padding: 1rem 3rem;
  }

  &__subtotal {
    font-size: 1rem;
    font-weight: 300;
    font-family: $primary-font;
    color: #646060;
    margin-bottom: 1rem;

    @include media.query('>=xsm') {
      font-size: 1.2rem;
    }

    @include media.query('>=sm') {
      font-size: 1.4rem;
    }

    @include media.query('>=lg') {
      font-size: 1.5rem;
    }
  }

  &__subtotal-title {
    font-family: $primary-font;
    font-weight: 600;
  }
}
