@use './../abstracts/breakpoints' as media;

.cart-product-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__section {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0.25rem;

    @include media.query('>=xsm') {
      margin: 0.5rem;
    }

    @include media.query('>=sm') {
      margin: 1rem;
    }
  }

  &__image {
    width: 100px;
    height: auto;
    border: 1px solid #EEE;

    @include media.query('>=lg') {
      width: 200px;
      height: 200px;
    }
  }

  &__detail {
    font-size: 0.9rem;

    @include media.query('>=xsm') {
      font-size: 1rem;

    }
    
    @include media.query('>=sm') {
      font-size: 1.1rem;

    }

    @include media.query('>=lg') {
      font-size: 1.2rem;

    }
  }

  &__price {
    font-size: 0.8rem;

    @include media.query('>=xsm') {
      font-size: 0.9rem;

    }
    
    @include media.query('>=sm') {
      font-size: 1rem;

    }

    @include media.query('>=lg') {
      font-size: 1.1rem;

    }
  }
}
