@use './../abstracts/breakpoints' as media;

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  animation: slideRightLeft 0.8s cubic-bezier(0.705, -0.095, 0, 1.06);
  overflow-y: auto;

  @include media.query('>=sm') {
    width: 55%;
  }
  
  @include media.query('>=md') {
    width: 45%;
  }

}


.cart-modal-overlay {
  position: fixed;
  top: 0;
  background-color: #101010b9;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 800;
  animation: fadeIn 0.8s cubic-bezier(0.705, -0.095, 0, 1.06);
}

@keyframes slideRightLeft {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}