@use './../abstracts/breakpoints' as media;

.instagram-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  &__section {
    display: flex;
    justify-content: center;
  }

  &__images-wrapper {
    max-width: 100vw;
  }
}
