.nav-menu {
  background-color: #FFF;
  position: fixed;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: top 1.2s cubic-bezier(0.705, -0.095, 0, 1.06);
  transition-timing-function: cubic-bezier(0.705, -0.095, 0, 1.06);

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }

  &__list-item {
    margin: 1.5rem 0;
  }

  &__link {
    font-family: $secondary-font;
    font-size: 2rem;
    color: #101010;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__icon-closedmenu {
    font-size: 2rem;
    fill: $primary-font-color;
    margin: 1.2rem;
  }
}