@use './../abstracts/breakpoints' as media;

.payment-completed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2rem 0;

    &--dashed {
      border-bottom: 2px dashed #bdbdbd;

      @include media.query('>=sm') {
        border-bottom: 3px dashed #bdbdbd;
      }
    }
  }

  &__image {
    width: 65px;
    height: auto;
    margin-bottom: 1rem;

    @include media.query('>=sm') {
      width: 75px;
    }
  }

  &__title {
    color: #3bc6a8;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    @include media.query('>=sm') {
      font-size: 2rem;
    }
  }

  &__transaction {
    color: #9d9d9d;
    font-size: 0.9rem;

    @include media.query('>=sm') {
      font-size: 1.1rem;
    }
  }

  &__content-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  &__content {
    color: #6e6e6e;
    font-weight: 700;
    font-size: 1rem;

    @include media.query('>=sm') {
      font-size: 1.1rem;
    }

    &--child {
      color: #6e6e6e;
      font-weight: 400;
      font-size: 1rem;

      @include media.query('>=sm') {
        font-size: 1.1rem;
      }
    }
  }

  &__continue-shopping {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}
