@use './../abstracts/breakpoints' as media;

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;

  @include media.query('>=sm') {
    width: 32%;
    margin: 0 auto;
  }

  @include media.query('>=lg') {
    height: 465px;
  }

  &:hover .product__category {
    color: #101010;
  }

  &:hover .product__image-wrapper {
    transform: scale(1.09);
  }

  &:hover &__add {
    display: flex;
  }

  &__add {
    width: 100%;
    text-align: center;
    justify-content: center;

    @include media.query('>=sm') {
      width: 75%;
    }

    @include media.query('>=md') {
      display: none;
      width: 50%;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    text-align: center;

    @include media.query('>=xsm') {
      max-width: 200px;
    }

    @include media.query('>=sm') {
      max-width: 300px;
    }

    @include media.query('>=md') {
      max-width: 350px;
    }
  }

  &__category {
    color: #abadb0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    transition: color 0.3s ease;

    @include media.query('>=xsm') {
      font-size: 0.8rem;
    }

    @include media.query('>=md') {
      font-size: 1rem;
    }
  }

  &__common-color {
    color: #2d333a;
    font-size: 0.9rem;
    font-weight: 300;
    width: 100%;
    margin: 0.3rem 0;

    @include media.query('>=xsm') {
      font-size: 1.1rem;
    }

    @include media.query('>=md') {
      font-size: 1.2rem;
    }
  }

  &__price {
    font-family: $secondary-font;
    color: #2d333a;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;

    @include media.query('>=xsm') {
      font-size: 0.95rem;
    }

    @include media.query('>=md') {
      font-size: 1.1rem;
    }
  }

  &__image-wrapper {
    min-width: 150px;
    max-width: 200px;
    z-index: -1;
    transition: transform 0.3s ease;

    @include media.query('>=sm') {
      min-width: 150px;
      max-width: 300px;
    }
  }

  &__image {
    width: 100%;
    height: 200px;

    @include media.query('>=sm') {
      width: 200px;
      height: 200px;
    }

    @include media.query('>=md') {
      width: 250px;
      height: 250px;
    }

    @include media.query('>=xl') {
      width: 300px;
      height: 300px;
    }
  }
}
