$breakpoints: (
  'xsm': 360px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1200px,
  'xl': 1400px,
);

// Font
$root-font-size: 16px;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Fraunces', sans-serif;

// Colors
$primary-preloader: #01c684;
$secondary-preloader: #caffef;
$primary-focus: #ececec;
$secondary-focus: #2962ff;
$primary-font-color: #2d333a;
$secondary-font-color: #82858a;
