@use './../abstracts/breakpoints' as media;

.checkout {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 auto;

    @include media.query('>=sm') {
      max-width: 60%;
    }

    @include media.query('>=md') {
      max-width: 50%;
    }

    @include media.query('>=lg') {
      max-width: 30%;
    }
  }
}
